@tailwind base;
@tailwind components;
@tailwind utilities;

.lists{
    border: 1px solid rgba(0,0,0, .15);
    background-clip: padding-box;
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .35);
    -webkit-box-sizing: content-box;
    border-top: 2px solid #ef7b00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.custom-select select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
.custom-select::after {
    content: '🢓'; 
    font-size: 2rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 27px;
    padding-top: 18px;
    background-color: #ef7b00;
    border-style: solid;
    color: #fff;
    right: 0;
    bottom: 0;
  }
  